<h1>Register</h1>

<div id="errors"><ul>
<%unless flash[:alert] == nil
 flash[:alert].each do |message|%>
 <li><%=message%>.</li>
	
<% end %></ul> 
<% end %>
</div>

<%= form_for @user do |f| %>
  	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
	<label>What's your long term goal?</label>
    <%= f.text_field :long_term_goal %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Register" %>
<% end %>
<%= link_to "Log In", new_session_path %>