<!DOCTYPE html>
<html>
	<head>
	<title>TaskMaster</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  <script>
  $(document).ready(function()
  {
	  	$(document).foundation();
		$('#scope').foundation(); 
	});
</script>
<%= yield :script %>

	</head>
	<body>
		<div id="header">
			<nav class="top-bar">
				<ul class="title-area">
			    	<li class="name"><h1><a href="maggieepps.com"><%= User.find(session[:user_id]).first_name %>'s TaskMaster</a></h1></li>
		 		</ul>
		 		<section class="top-bar-section">
		 			<ul class="right">
		 				<li><a href="/signout">Log Off</a></li>
		 			</ul>
		 		</section>
			</nav>
		</div>
		<div id="wrapper">
		<dl class="sub-nav">
			<dd id="calendar"><a href="/users/<%=session[:user_id]%>">Calendar</a></dd>
			<dd id="goals"><a href="/goals">Goals</a></dd>
			<dd id="current"><a href="/goals/<%=session[:current_goal_id]%>">Current Goal</a></dd>
		</dl>
		<h1>Your long-term goal is: <%= User.find(session[:user_id]).long_term_goal %></h1>

		<%= yield %>
		</div>
	</body>
</html>
